#### *Functions*

In [7]:
def get_odd(*args):
    odd = []
    for i in args:
        if i % 2 == 0:
            odd.append(i)
    return odd

In [8]:
get_odd(2,3,4,5,6,7,8,6)

[2, 4, 6, 8, 6]

In [9]:
pow(23,3)

12167

***args, kwrgs***

In [11]:
def test(a,b):
    print(a+b)

In [12]:
test(35,67)

102

In [13]:
def test(a,b):
    print(a/b)

In [14]:
test(10,2)

5.0

In [16]:
test(b=3,a=69)

23.0

In [17]:
def get_odd(*args):
    odd = []
    for i in args:
        if i % 2 == 0:
            odd.append(i)
    return odd

In [23]:
def add(*args):
    sm = 0
    for i in args:
        sm +=i
    return sm

In [24]:
add(2,3,4,5,6,7,8,6)

41

In [27]:
def add_div(b,*args, ):
    sm = 0
    for i in args:
        sm +=i
    
    return sm/b

In [28]:
add_div(9,2,3,4,5,6,7,8,6,4)

5.0

In [30]:
#**kwrgs

In [33]:
def get_details(**kwrgs):
    return kwrgs

In [ ]:
# name = "Gopinath", add = "Bangalore", Phone = 8989

In [34]:
get_details(name = "Gopinath", add = "Bangalore", Phone = 8989)

{'name': 'Gopinath', 'add': 'Bangalore', 'Phone': 8989}

In [35]:
def great(name):
    print(f"You are great {name}!")

In [36]:
great("Gopi")

You are great Gopi!

***Lambda Function***

In [40]:
a = lambda x,y : x+y

In [41]:
a(34,56)

90

In [44]:
import pandas as pd
import seaborn as sns

In [45]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [50]:
df = sns.load_dataset('taxis')

In [51]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [53]:
df.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

In [55]:
df2 = df[['pickup_borough','pickup_zone']]

In [57]:
df2.head()

  pickup_borough            pickup_zone
0      Manhattan        Lenox Hill West
1      Manhattan  Upper West Side South
2      Manhattan          Alphabet City
3      Manhattan              Hudson Sq
4      Manhattan           Midtown East

In [ ]:
d

In [85]:
df23 = df2.groupby('pickup_borough')['pickup_zone'].apply(lambda x: list(x)).reset_index()

In [86]:
df23.shape

(4, 2)

In [87]:
df23.columns

Index(['pickup_borough', 'pickup_zone'], dtype='object')

In [88]:
df23

  pickup_borough                                        pickup_zone
0          Bronx  [East Tremont, Mott Haven/Port Morris, Soundvi...
1       Brooklyn  [Brooklyn Heights, DUMBO/Vinegar Hill, Stuyves...
2      Manhattan  [Lenox Hill West, Upper West Side South, Alpha...
3         Queens  [LaGuardia Airport, LaGuardia Airport, LaGuard...

In [71]:
import numpy as np

In [89]:
df23.explode('pickup_zone')

   pickup_borough                       pickup_zone
0           Bronx                      East Tremont
0           Bronx            Mott Haven/Port Morris
0           Bronx             Soundview/Castle Hill
0           Bronx  East Concourse/Concourse Village
0           Bronx          Williamsbridge/Olinville
..            ...                               ...
3          Queens                          Elmhurst
3          Queens                 Hillcrest/Pomonok
3          Queens                      Forest Hills
3          Queens                      Saint Albans
3          Queens                           Jamaica

[6407 rows x 2 columns]