In [2]:
import pandas as pd
import numpy as np

In [ ]:
#Core Pandas Topics for Data Engineers

In [1]:
age = [12,56,23,96,45,36]

In [5]:
age_s = pd.Series(age, name='age', dtype=float)

In [6]:
age_s

0    12.0
1    56.0
2    23.0
3    96.0
4    45.0
5    36.0
Name: age, dtype: float64

In [7]:
age_s = pd.Series(age, name='age', dtype=str)

In [8]:
age_s

0    12
1    56
2    23
3    96
4    45
5    36
Name: age, dtype: object

In [13]:
age_s.abs

<bound method NDFrame.abs of 0    12
1    56
2    23
3    96
4    45
5    36
Name: age, dtype: object>

In [14]:
country = ['India','Pakistan','Nepal','USA']

In [25]:
range(1,len(country)+1)

range(1, 5)

In [26]:
con = pd.Series(country, name='country', index=range(1,len(country)+1))

In [27]:
con

1       India
2    Pakistan
3       Nepal
4         USA
Name: country, dtype: object

In [28]:
population = ['140B','33B','1B','38B']

In [29]:
popul = pd.Series(population, index=country, name='country-population')

In [30]:
popul

India       140B
Pakistan     33B
Nepal         1B
USA          38B
Name: country-population, dtype: object

In [31]:
df = pd.DataFrame(popul)

In [32]:
df

         country-population
India                  140B
Pakistan                33B
Nepal                    1B
USA                     38B

In [39]:
indian_states_literacy = {
    "Andaman and Nicobar Islands": 86.63,
    "Andhra Pradesh": 67.02,
    "Arunachal Pradesh": 65.38,
    "Assam": 72.19,
    "Bihar": 61.80,
    "Chandigarh": 86.05,
    "Chhattisgarh": 70.28,
    "Dadra and Nagar Haveli": 76.24,
    "Daman and Diu": 87.10,
    "Delhi": 86.21,
    "Goa": 88.70,
    "Gujarat": 78.03,
    "Haryana": 75.55,
    "Himachal Pradesh": 82.80,
    "Jammu and Kashmir": 67.16,
    "Jharkhand": 66.41,
    "Karnataka": 75.36,
    "Kerala": 94.00,
    "Lakshadweep": 91.85,
    "Madhya Pradesh": 69.32,
    "Maharashtra": 82.34,
    "Manipur": 76.94,
    "Meghalaya": 74.43,
    "Mizoram": 91.33,
    "Nagaland": 79.55,
    "Odisha": 72.87,
    "Puducherry": 85.85,
    "Punjab": 75.84,
    "Rajasthan": 66.11,
    "Sikkim": 81.42,
    "Tamil Nadu": 80.09,
    "Telangana": 66.54,
    "Tripura": 87.22,
    "Uttar Pradesh": 67.68,
    "Uttarakhand": 78.82,
    "West Bengal": 76.26
}

In [41]:
literacy_rate = pd.Series(indian_states_literacy, name='literacy_rate')

In [42]:
literacy_rate

Andaman and Nicobar Islands    86.63
Andhra Pradesh                 67.02
Arunachal Pradesh              65.38
Assam                          72.19
Bihar                          61.80
Chandigarh                     86.05
Chhattisgarh                   70.28
Dadra and Nagar Haveli         76.24
Daman and Diu                  87.10
Delhi                          86.21
Goa                            88.70
Gujarat                        78.03
Haryana                        75.55
Himachal Pradesh               82.80
Jammu and Kashmir              67.16
Jharkhand                      66.41
Karnataka                      75.36
Kerala                         94.00
Lakshadweep                    91.85
Madhya Pradesh                 69.32
Maharashtra                    82.34
Manipur                        76.94
Meghalaya                      74.43
Mizoram                        91.33
Nagaland                       79.55
Odisha                         72.87
Puducherry                     85.85
Punjab                         75.84
Rajasthan                      66.11
Sikkim                         81.42
Tamil Nadu                     80.09
Telangana                      66.54
Tripura                        87.22
Uttar Pradesh                  67.68
Uttarakhand                    78.82
West Bengal                    76.26
Name: literacy_rate, dtype: float64

In [43]:
pd.DataFrame(literacy_rate)

                             literacy_rate
Andaman and Nicobar Islands          86.63
Andhra Pradesh                       67.02
Arunachal Pradesh                    65.38
Assam                                72.19
Bihar                                61.80
Chandigarh                           86.05
Chhattisgarh                         70.28
Dadra and Nagar Haveli               76.24
Daman and Diu                        87.10
Delhi                                86.21
Goa                                  88.70
Gujarat                              78.03
Haryana                              75.55
Himachal Pradesh                     82.80
Jammu and Kashmir                    67.16
Jharkhand                            66.41
Karnataka                            75.36
Kerala                               94.00
Lakshadweep                          91.85
Madhya Pradesh                       69.32
Maharashtra                          82.34
Manipur                              76.94
Meghalaya                            74.43
Mizoram                              91.33
Nagaland                             79.55
Odisha                               72.87
Puducherry                           85.85
Punjab                               75.84
Rajasthan                            66.11
Sikkim                               81.42
Tamil Nadu                           80.09
Telangana                            66.54
Tripura                              87.22
Uttar Pradesh                        67.68
Uttarakhand                          78.82
West Bengal                          76.26